body{
	display:block;
	margin:10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1366px;
    margin: 0 auto;
}

.inicio{
    max-width: 100%;
    height: 50px;
    background: #5293DE;
}

.header{
    max-width: 100%;
    height: 200px;
    background: #AFD5FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-mobile{
    display: none;
}

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow{
    background: #F9CE8C;
}

.blue{
    background: #C8C9FC;
}

.red{
    background: #F8A39A;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #D3E8FF;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: #EAEDF0;
}

.content_1{
    display: none;
}

@media screen and (max-width: 1024px){
    .content{
        display: none;
    }

    .header{
        height: 150px;
    }

    .content_1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background: #EAEDF0;
    }

    .features{
        display: none;
    }

    .features-mobile{
        display: flex;
        justify-content: space-between;
    }

    .sign_up{
        display: none;
    }

    .sign_up_1{
        background: #D4E8FF;
    }

    .feature-mobile, .sign_up_1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 414px){
    .features-mobile{
        flex-direction: column;
    }
}
