body{
    display:block;
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}



#inicio{
    max-width: 100%;
    height: 75px;
    padding: 0px;
    background: #836FFF;
}

.header{
    max-width: 100%;
    height: 220px;
    background: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-mobile{
    display: none;
}

.desktop{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.orange{
    background: #FFA500;
}

.violet{
    background: #BA55D3;
}

.coral{
    background: #FF7F50;
}

.feature{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 375px;
}

.sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #ADD8E6;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    background: #D3D3D3;
}

.content_1{
    display: none;
}

@media screen and (max-width: 1024px){
    .content{
        display: none;
    }

    .header{
        height: 190px;
    }

    .content_1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 290px;
        background: #D3D3D3;
    }

    .desktop{
        display: none;
    }

    .features-mobile{
        display: flex;
        justify-content: space-between;
    }

    .sign_up{
        display: none;
    }

    .sign_up_1{
        background: #ADD8E6;
    }

    .feature-mobile, .sign_up_1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 210px;
    }
}

@media screen and (max-width: 480px){
    .features-mobile{
        flex-direction: column;
    }
}

.container{
    max-width: 1366px;
    margin: 0 auto;
}
